:root {
    --hflyer: #ff0076;
    --moriyx: #bfbfef;
    --rickyg: #2cf5bb;
    --chapter1: #d535d9;
    --olddfc: #6a7bc4;
    --newdfc: #e03f25;
    --demo2: #962cf0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

footer p {
    color: grey;
    font-size: small;
}

a {
    color: #87ceeb;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img.pixelperfect, img.textbox {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

*[title] {
    text-decoration: dotted underline 1px;
}

.grid-container {
    display: grid;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin: 10px;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-article {
    text-align: center;
    color: white;
    padding: 1%;
    width: auto;
    box-sizing: border-box;
    border-radius: 1em;
    margin: 0 auto;
}

.grid-article img {
    height: auto;
    display: block;
    margin: auto;
    border-radius: 1em;
}